{% extends "news/base.html" %}

{% block content %}
    <ol>
    {% for article in articles %}
        <li>
            <a href="{% url 'news:article' article.id %}">
                {{ article.title }}
                {% if user == article.author or perms.news.delete_news %}
                    <a href="{{article.id}}/edit">
                        Edit
                    </a>
                    <form action="{{article.id}}/delete" method="post">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                {% endif %}
            </a>
        </li>
    {% endfor %}
    </ol>

    <form action="{% url 'news:index' %}" method="post">
        {% csrf_token %}
        
        {{ form }}
        <!--
        Title: <input type="text" name="title"> <br>
        Content: <input type="text" name="content"> <br>
        -->
        <input type="submit" value="Add news">
    </form>
    <br><br>

    {% if user.is_authenticated %}
    <li>
        {{ user.username }} <br>
        <a href="/logout">Logout</a><br><br>    
    </li>
    {% else %}
    <li>
        <a href="/login">Log In</a><br><br>
    </li>
    {% endif %}
    <a href="news/sign-up">Sign Up</a>
{% endblock %}